@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poller+One&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #f0ecdd;
    text-align: center;
}

.logo {
    border: none;
    width: 100;
   float: left;
}

.main {
    width: 500px;
    height: 500px;
    border: 1px solid ;
    border-radius: 10px;
    vertical-align: middle;
}

#menu {
    text-decoration: none;
    font-size: 20;
    display: inline-flex;
    font-family: 'Lato', sans-serif;
    border: 1px solid;
    border-radius: 10px;
    padding: 10;
}

#menu a {
    text-decoration: none;
    color: black;
}

#menu:hover {
    text-decoration: underline;
}

#menu li {
    list-style-type: none;
}

.logo #menu{
    line-height: 75px;
}

li {
    margin-top: -5;
}
