@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poller+One&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #f0ecdd;
    text-align: center;
    font-family: 'lato', sans-serif;
    font-size: 18;
}

footer {
    margin: 100;
}

.meal {
    text-align: left;
}

.logo {
    border: none;
    width: 100;
   float: left;
}

li img {
    display: flex;
    align-items: center;
}

.main {
    width: 50%;
    margin: 0;
    padding: 0;
    border: 1px solid ;
    border-radius: 10px;
    vertical-align: middle;
    position: relative;
}

#menu {
    text-decoration: none;
    font-size: 40;
    display: inline-flex;
    font-family: 'Lato', sans-serif;
    border: 1px solid;
    border-radius: 10px;
    padding: 10;
    text-align: center;
}

#menu a {
    text-decoration: none;
    color: black;
}

#menu:hover {
    text-decoration: underline;
}

#menu li {
    list-style-type: none;
}

.logo #menu{
    line-height: 75px;
}

nav {
    margin-top: -10;
    margin-right: 75;
    
    position: relative;
}

.bowl {
    display:inline-block;
    width: 200px;
    position: relative
    
}

.ul {
    text-align: left;
    font-family: 'lato', sans-serif;
}

.flex-container {
    display:flex;
}

.roasted {
    height: 220px;
    width: 270;
    position: relative;
    top: 150;
    right: 100;
}

.grilled {
    height: 220px;
    width: 270;
    position: relative;
    top: 100;
}

.greek {
    height: 220px;
    width: 270;
    position: relative;
    top: 120;
}